<div class="card">
    <div class="card-content">
        <form hx-encoding='multipart/form-data' hx-post='/add-torrent'>
            <input type="file" name="file">
            <button>Upload</button>
        </form>
    </div>
</div>